.api{
    width:80vw;
    margin:0px auto;
    .eachApi{
        padding: 15px 25px ;
        font-size: 20px;
        a{
            margin-left: 25px;
            text-decoration: none;
            color:#333;
        }
    }
}